<template>
  <div>
    <v-row class="mb-5">
      <v-col
        cols="auto"
        class="flex-grow-1"
      >
        <!-- Search Box -->
        <v-text-field
          variant="solo"
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        />
      </v-col>
      <v-col cols="auto">
        <!-- View Switcher -->
        <v-btn-toggle
          v-model="viewMode"
          mandatory
          tile
          color="primary"
        >
          <v-btn
            v-for="item in viewModeList"
            :key="item.id"
            :value="item.id"
            icon
          >
            <v-icon>{{ item.icon }}</v-icon>
          </v-btn>
        </v-btn-toggle>
      </v-col>
    </v-row>

    <v-window v-model="viewMode">
      <v-window-item :value="0">
        <v-data-iterator
          :items="desserts"
          :items-per-page="100"
          :search="search"
        >
          <template v-slot:default="{ items }">
            <v-row>
              <v-col
                cols="12"
                sm="6"
                md="4"
                lg="3"
                v-for="item in items"
                :key="item.raw.name"
              >
                <food-card :food="item.raw" />
              </v-col>
            </v-row>
          </template>
        </v-data-iterator>
      </v-window-item>

      <v-window-item :value="1">
        <v-card :elevation="5">
          <v-data-table
            v-model:items-per-page="itemsPerPage"
            :headers="(headers as any)"
            :items="desserts"
            :search="search"
            item-value="name"
            class="elevation-1"
          />
        </v-card>
      </v-window-item>
    </v-window>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted } from 'vue'
import { VDataTable } from 'vuetify/lib/labs/components.mjs'
import { VDataIterator } from 'vuetify/labs/VDataIterator'
import FoodCard from '@/components/FoodCard.vue'
// import { Food } from '@/types/food'

onMounted(async () => {
  try {
    const response = await fetch(
      'https://api.spoonacular.com/food/menuItems/search?apiKey=a1252f83d4ab46328f3b664ad867fee8&query=meal&number=50'
    )
    const result = await response.json()

    desserts.value = result.menuItems.map((item: any) => ({
      id: item.id,
      name: item.title,
      description: 'Lorem ipsum dolor sit amet',
      price: Math.floor(Math.random() * 1000) * 100,
      image: item.image,
      restaurant: item.restaurantChain,
    }))

    console.log(result)
  } catch (error) {
    console.error(error)
  }
})

interface Food {
  id: number
  name: string
  description: string
  price: number
  image: string
  category: string
  restaurant: string
}

const search = ref('')
const itemsPerPage = ref(10)
const headers = [
  { title: 'Nama', align: 'start', key: 'name' },
  { title: 'Restoran', align: 'end', key: 'restaurant' },
  { title: 'Deskripsi', align: 'end', key: 'description', sortable: false },
  { title: 'Harga', align: 'end', key: 'price' },
]
const desserts = ref<Food[]>([])
const viewMode = ref(0)
const viewModeList = ref([
  {
    id: 0,
    icon: 'mdi-view-grid',
  },
  {
    id: 1,
    icon: 'mdi-table',
  },
])
</script>
