<template>
  <div class="align-center">
    <v-card
      max-width="500px"
      class="login-card text-center"
    >
      <v-card-title class="mt-5 mb-1">
        <h1>Food App</h1>
      </v-card-title>
      <v-card-subtitle class="mb-3">
        Welcome Back!
      </v-card-subtitle>
      <v-form>
        <v-card-text>
          <v-text-field
            v-model="name"
            label="Name"
            required
            @click="$router.push({ name: 'Home' })"
          />
          <v-text-field
            v-model="email"
            label="Email"
            required
            @click="$router.push({ name: 'Home' })"
          />
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            @click="login"
          >
            Login
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </div>
</template>

<script lang="ts" setup>
import { ref } from 'vue'
import router from '@/router'
import { useAppStore } from '@/store/app'

const store = useAppStore()
const name = ref('')
const email = ref('')

const login = () => {
  if (!name.value || !email.value) {
    return
  }
  store.login.name = name.value
  store.login.email = email.value
  router.push({ name: 'Home' })
}
</script>

<style>
.login-card {
  margin: 0 auto;
}
</style>
