<template>
  <div>
    <v-card
      class="mx-auto"
      max-width="400"
    >
      <v-img
        class="align-end text-white"
        height="200"
        :src="food.image"
        cover
      />

      <v-card-title>{{ food.name }}</v-card-title>
      <v-card-subtitle
        >Rp
        {{
          new Intl.NumberFormat('id-ID').format(food.price)
        }},00</v-card-subtitle
      >

      <v-card-text>
        <div>{{ food.restaurant }}</div>
        <div>{{ food.description }}</div>
      </v-card-text>

      <v-card-actions>
        <v-btn color="primary"> Share </v-btn>

        <v-btn color="primary"> Details </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script lang="ts" setup>
import { PropType } from 'vue'
// import Food from '../types/food';

interface Food {
  id: number
  name: string
  description: string
  price: number
  image: string
  restaurant: string
}

defineProps({
  food: {
    type: Object as PropType<Food>,
    required: true,
  },
})
</script>
