<template>
  <v-app>
    <v-app-bar
      v-if="store.login.name"
      color="primary"
      prominent
    >
      <v-app-bar-nav-icon
        variant="text"
        @click.stop="drawer = !drawer"
      />

      <v-toolbar-title>{{ $route.name }}</v-toolbar-title>

      <template v-slot:append>
        <v-btn
          icon
          variant="text"
          @click="toggleTheme()"
        >
          <v-icon
            :icon="darkMode ? 'mdi-weather-night' : 'mdi-weather-sunny'"
          />
        </v-btn>
      </template>
    </v-app-bar>

    <v-navigation-drawer
      v-if="store.login.name"
      v-model="drawer"
    >
      <v-list
        :lines="false"
        nav
      >
        <v-list-item
          lines="two"
          :title="store.login.name"
          :subtitle="store.login.email"
          prepend-avatar="https://randomuser.me/api/portraits/men/81.jpg"
          class="my-3"
        />
        <v-divider class="mb-3" />
        <template
          v-for="item in navItems"
          :key="item.title"
        >
          <v-list-item
            link
            :to="item.to"
            color="primary"
          >
            <template v-slot:prepend>
              <v-icon :icon="item.icon"></v-icon>
            </template>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <v-container class="fill-height">
        <v-responsive class="d-flex fill-height pa-sm-5 pa-2">
          <router-view />
        </v-responsive>
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts" setup>
import { ref, computed } from 'vue'
import { useTheme } from 'vuetify'
import { useAppStore } from '@/store/app'
import router from '@/router'

const store = useAppStore()
const drawer = ref(false)
const theme = useTheme()
const darkMode = computed(() => theme.current.value.dark)

const toggleTheme = () => {
  theme.global.name.value = !theme.current.value.dark ? 'dark' : 'light'
}

const navItems = [
  { title: 'Home', icon: 'mdi-home', to: '/' },
  { title: 'About', icon: 'mdi-help-circle', to: '/about' },
  { title: 'Logout', icon: 'mdi-logout', to: '/logout' },
]
</script>

<style></style>
